<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA9T3amturexiL2u5z0_cN5ZnNaSQ188Cc</string>
	<key>GCM_SENDER_ID</key>
	<string>777140041019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.donalimentos.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-auth-5fa5d</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-auth-5fa5d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:777140041019:ios:76f596db35e5f33e07b31e</string>
</dict>
</plist>